# Python
__pycache__/
*.py[cod]
*$py.class

# Archivos compilados
*.so

# Entornos virtuales
venv/
.venv/
env/
ENV/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Variables de entorno
.env
.ini

# Cache de herramientas
.pytest_cache/
.mypy_cache/
.cache/

# Distribución
build/
dist/
*.egg-info/

# Archivos temporales
*.tmp
*.bak
*.swp